/*
 * Copyright (c) 2020 Pete Johanson, Richard Jones
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
//#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
                // Pin0    Pin1        Pin2      Pin3       Pin4    Pin5    Pin6    Pin 7   Pin 8   Pin 9    Pin 10
            bindings = <
                &kp LEFT   &kp RIGHT   &kp UP    &kp DOWN   &kp B   &kp K   &kp I   &kp O   &kp Y   &kp J    &kp LC(M)
	        >;
        };
    };
};


